@model Comment
<form asp-controller="Shop" asp-action="PostComment" method="post" class="review-form">
    <h5>1 review for <span>Chaz Kangeroo Hoodies</span></h5>
    @await Component.InvokeAsync("Comment")
    <div class="form-group row">
        <div class="col">
            <label name="UserName" class="col-form-label"><span class="text-danger">*</span> Your Name</label>
            <input name="UserName" type="text" class="form-control" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label name="Email" class="col-form-label"><span class="text-danger">*</span> Your Email</label>
            <input name="Email" type="email" class="form-control" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label name="CommentDetail" class="col-form-label"><span class="text-danger">*</span> Your Review</label>
            <textarea name="CommentDetail" class="form-control" required></textarea>
            <div class="help-block pt-10"><span class="text-danger">Note:</span> HTML is not translated!</div>
        </div>
    </div>


    <input name="ProductsId" value="@Model.Products.Id" hidden class="form-control">
    <input name="AddingTime" value="@DateTime.Now" hidden class="form-control">

    <div class="form-group row">
        <div class="col">
            <label class="col-form-label"><span class="text-danger">*</span> Rating</label>
            &nbsp;&nbsp;&nbsp; Bad&nbsp;
            <input type="radio" value="1" name="rating">
            &nbsp;
            <input type="radio" value="2" name="rating">
            &nbsp;
            <input type="radio" value="3" name="rating">
            &nbsp;
            <input type="radio" value="4" name="rating">
            &nbsp;
            <input type="radio" value="5" name="rating" checked>
            &nbsp;Good
        </div>
    </div>
    <div class="buttons">
        <button class="sqr-btn" type="submit">Continue</button>
    </div>
</form>