@model BlogVideo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}




<div class="container my-5">
    <div class="card">
        <div class="card-header">
            BlogVideo Detail
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Video-Link
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Name
                    </td>
                    <td>
                        @Model.Video
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


