@model ForgotPasswordVM

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="input-area">
            <h3 style="text-align:center">Forgot password</h3>
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input class="form-control" asp-for="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="register-btn d-flex justify-content-center" style="width: 100%;">
                    <button type="submit" style="background-color:black; color:white;" class="btn btn-primary">Send</button>
                </div>

            </form>
        </div>
    </div>


</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

