@model SliderDetail
@{
    ViewData["Title"] = "Edit";
}



<div class="container-fluid mx-5 my-3">
    <h3>SliderDetail</h3>
    <div class="img-area">
        <img src="~/assets/img/slider/@Model.Image" style="width:200px; height:200px;" alt="Alternate Text" />
    </div>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="Subtitle">Subtitle</label>
                <input class="form-control" asp-for="Subtitle">
                <span asp-validation-for="Subtitle" class="text-danger my-1"></span>
            </div>
            <div class="form-group">
                <label asp-for="Header">Header</label>
                <input class="form-control" asp-for="Header">
                <span asp-validation-for="Header" class="text-danger my-1"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input class="form-control" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger my-1"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo">Photo</label>
                <input class="form-control" asp-for="Photo">
                <span asp-validation-for="Photo" class="text-danger my-1"></span>
            </div>
        </div>
        <a class="btn btn-primary" asp-controller="SliderDetail" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
