@model BlogHeaderVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <span class="text-danger">@ViewBag.Message</span>
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description">
                            Blog Detail
                        </p>
                        <form asp-controller="BlogDetail" asp-action="Create" class="forms-sample" method="post">
                            <div class="form-group">
                                <label for="name">Title</label>
                                <textarea class="form-control" asp-for="Title"></textarea>
                                <span class="text-danger my-1" asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label for="name">Description</label>
                                <textarea class="form-control" asp-for="Description"></textarea>
                                <span class="text-danger my-1" asp-validation-for="Description"></span>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <a asp-controller="BlogDetail" asp-action="Index" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


